<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">
</head>

<body>
    <app-header></app-header>
    <div>
        <img class="circle" src="assets/images/circle.svg" type="image/svg+xml">

        <img class="smallblob" src="assets/images/blob-small.svg" type="image/svg+xml">

        <img class="title" src="assets/images/title.svg" type="image/svg+xml">

        <span class="dash"></span>
        <span class="dash"></span>

        <img class="collect_img" src="assets/images/collect_img-video.png" type="image/svg+xml">

        <!-- <div class="group">
            <div class="top">
                <span>Elegibility Calculator</span>
            </div>
            <label for="customRange1" class="form-label"></label>
            <input type="range" class="form-range" id="customRange1">
        </div> -->

        <img class="group" src="assets/images/Group6.svg" type="image/svg+xml">

        <img class="sol_wave_bg" src="assets/images/sol_wave_bg.svg" type="image/svg+xml">

        <img class="accounting_dots_left" src="assets/images/accounting_dots.svg" type="image/svg+xml">

        <img class="accounting_dots_right" src="assets/images/accounting_dots.svg" type="image/svg+xml">

        <img class="boost" src="assets/images/Boost your business.svg" type="image/svg+xml">

        <img class="hands" src="assets/images/Get your hands on.svg" type="image/svg+xml">

        <img class="line" src="assets/images/Line 3.svg" type="image/svg+xml">

        <div class="buttonhover">
            <button type="button" class="openaccount">Get an Open Account </button>
        </div>


        <div class="boxhover">
            <div class="box1">
                <div class="box">
                    <div class="innerimage">
                        <img class="inner" src="assets/images/Get Paid Instantly.png" type="image/svg+xml">
                        <span class="toptext">Quick cash disbursement</span>
                        <span class="innertext">Get terms loans that your business needs within 72 hrs</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="boxhover">
            <div class="box2">
                <div class="box">
                    <div class="innerimage">
                        <img class="inner" src="assets/images/Low interest rate.png" type="image/svg+xml">
                        <span class="toptext">Low-interest rate</span>
                        <span class="innertext">Achieve your financial goals with an amazing interest rate starting at
                            13%
                            per annum</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="boxhover">
            <div class="box3">
                <div class="box">
                    <div class="innerimage">
                        <img class="inner" src="assets/images/Secure Payments.png" type="image/svg+xml">
                        <span class="toptext">Zero Paperwork</span>
                        <span class="innertext">Get started instantly by submitting only your basic details & bank
                            statements</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="boxhover">
            <div class="box4">
                <div class="box">
                    <div class="innerimage">
                        <img class="inner" src="assets/images/freelancer_feature_icon_6@1.5x.png" type="image/svg+xml">
                        <span class="toptext">Ace your business finances</span>
                        <span class="innertext">Manage banking, accounting & everything in between, on one
                            platform</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="boxhover">
            <div class="box5">
                <div class="box">
                    <div class="innerimage">
                        <img class="inner" src="assets/images/Covid.png" type="image/svg+xml">
                        <span class="toptext">Loans to fight COVID-19</span>
                        <span class="innertext">Zero EMI for first 3 months on Back-to-Business loans of upto 1
                            lakh</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>